@font-face {
   font-family: 'Oswald', sans-serif;
   src: url('../../vendors/google-fonts/Oswald-ExtraLight.ttf') format('truetype');
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: 'Oswald', sans-serif;
   src: url('../../vendors/google-fonts/Oswald-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Oswald', sans-serif;
   src: url('../../vendors/google-fonts/Oswald-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Oswald', sans-serif;
   src: url('../../vendors/google-fonts/Oswald-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Oswald', sans-serif;
   src: url('../../vendors/google-fonts/Oswald-SemiBold.ttf') format('truetype');
   font-weight: 600; 
   font-style: normal;
}

@font-face {
   font-family: 'Oswald', sans-serif;
   src: url('../../vendors/google-fonts/Oswald-Bold.ttf') format('truetype');
   font-weight: 700; 
   font-style: normal;
}

@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../../vendors/google-fonts/OpenSans-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../../vendors/google-fonts/OpenSans-LightItalic.ttf') format('truetype');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../../vendors/google-fonts/OpenSans-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../../vendors/google-fonts/OpenSans-Italic.ttf') format('truetype');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../../vendors/google-fonts/OpenSans-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../../vendors/google-fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
   font-weight: 600;
   font-style: italic;
}

@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../../vendors/google-fonts/OpenSans-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../../vendors/google-fonts/OpenSans-BoldItalic.ttf') format('truetype');
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../../vendors/google-fonts/OpenSans-ExtraBold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
}

@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../../vendors/google-fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
   font-weight: 800;
   font-style: italic;
}
