::selection {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

html, body { min-width: 640px; }
header, section { min-height: 700px; }

/* Tube colours */
.underground { color: #fff; }
.bakerloo { background-color: #b46404; }
.central { background-color: #e41c14; }
.circle { background-color: #eeb742; }
.district { background-color: #047c34; }
.hammersmith-and-city { background-color: #f38599; }
.jubilee { background-color: #a4a4a3; }
.metropolitan { background-color: #9c045c; }
.northern { background-color: #1c1c1c; }
.piccadilly { background-color: #24348c; }
.victoria { background-color: #049adb; }
.waterloo-and-city { background-color: #e41c14; }

/* Sections layout */
.image { border-top: 10px solid #000; border-bottom: 10px solid #000; }
.border-bottom { border-bottom: 10px solid #000 !important; }
.info { padding-top: 120px; padding-bottom: 140px; }
.underground { padding: 20px; }

.bg-dark {
  background-color: rgba(0, 0, 0, 0.75)!important;
  transition: 0.3s;
}

#social-media {
  background-color: #3f4247;
  border-top: 10px solid #5c6165;
  color: #5c6165;
  padding-top: 60px;
  padding-bottom: 40px;
}

#copyright-info {
  background-color: #000;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
}

.w-100 { width: 100vw!important; }

/* Stops the nav from pushing down the content */
.sticky-top { position: fixed; width: 100%; }

/* =============================================================== */
/* == MEDIA QUERIES */
/* =============================================================== */

 /* Styling for when hamburger menu is active */
 @media (max-width: 991.98px) {
  .navbar-nav { text-align: center; }
  .navbar-nav li { padding-top: 10px; padding-bottom: 10px; }
  .navbar-nav li:hover { background-color: rgba(70, 70, 70, 0.75); }
}