/* Tube colours */
.underground { color: #fff; }
.bakerloo { background-color: #b46404; }
.central { background-color: #e41c14; }
.circle { background-color: #eeb742; }
.district { background-color: #047c34; }
.hammersmith-and-city { background-color: #f38599; }
.jubilee { background-color: #a4a4a3; }
.metropolitan { background-color: #9c045c; }
.northern { background-color: #1c1c1c; }
.piccadilly { background-color: #24348c; }
.victoria { background-color: #049adb; }
.waterloo-and-city { background-color: #e41c14; }

/* Sections layout */
.image { border-top: 10px solid #000; border-bottom: 10px solid #000; }
.info { padding-top: 120px; padding-bottom: 140px; }
.underground { padding: 20px; }

#social-media {
  background-color: #464646;
  padding-top: 60px;
  padding-bottom: 40px;
}

#copyright-info {
  background-color: #000;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* =============================================================== */
/* == MEDIA QUERIES */
/* =============================================================== */

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
  #hero { background-image: url(../../resources/img/london-background.jpg); }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #hero { background-image: url(../../resources/img/london-background.jpg); }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #hero { background-image: url(../../resources/img/london-background.jpg); }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #hero { background-image: url(../../resources/img/london-background.jpg); }
}