@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../src/libs/google-fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../src/libs/google-fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../src/libs/google-fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../src/libs/google-fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../src/libs/google-fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../src/libs/google-fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../../src/libs/google-fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../../src/libs/google-fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../../src/libs/google-fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../../src/libs/google-fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../../src/libs/google-fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../../src/libs/google-fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../../src/libs/google-fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../../src/libs/google-fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../../src/libs/google-fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../../src/libs/google-fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 18px;
}

#hero, nav, h2 {
  text-shadow: -1px -1px 0 #5c6165, 1px -1px 0 #5c6165, -1px 1px 0 #5c6165, 1px 1px 0 #5c6165;
}

h2 {
  box-shadow: -1px -1px 0 #5c6165, 1px -1px 0 #5c6165, -1px 1px 0 #5c6165, 1px 1px 0 #5c6165;
}

h2 {
  box-shadow: inset -1px -1px 0 #5c6165, inset 1px -1px 0 #5c6165, inset -1px 1px 0 #5c6165, inset 1px 1px 0 #5c6165;
}

/* font families */
body {
  font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: "Oswald";
}

/* font sizes */
h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

p {
  font-size: 1.25em;
}

#social-media {
  font-size: 4em;
}

#copyright-info {
  font-size: 0.75em;
}

/* font colours */
.navbar a {
  color: #fafaff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fafaff;
}

h2 {
  color: #fafaff;
}

#hero {
  color: #fafaff;
}

#social-media a {
  color: #5c6165;
}

#social-media a:hover {
  color: #fafaff;
}

/* font styles */
h1, h2, h3, h4, h6 {
  text-transform: uppercase;
}

h3, h5 {
  margin-bottom: 30px;
}

h2 {
  border: 18px solid #fafaff;
  padding: 60px;
  text-align: center;
}

nav {
  font-weight: 300;
  text-transform: uppercase;
}

.navbar-brand {
  letter-spacing: 2px;
}

.fa-taxi {
  position: relative;
  top: -1.5px;
}

.underground {
  text-transform: uppercase;
  font-weight: bold;
}

#copyright-info {
  text-transform: uppercase;
}

/* =============================================================== */
/* == MEDIA QUERIES */
/* =============================================================== */
/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2.2em;
  }

  h3 {
    font-size: 2em;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2.5em;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 5em;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* font sizes */
  h1 {
    font-size: 7em;
  }

  h2 {
    font-size: 6em;
  }

  h3 {
    font-size: 3.25em;
  }

  #social-media {
    font-size: 6em;
  }
}
/* Styling for when hamburger menu is active */
@media (max-width: 991.98px) {
  .navbar-nav {
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=fonts.css.map */
