@import 'global';

input[type=email]:focus, input[type=text]:focus, textarea:focus {
   border: 5px solid $central-red !important; 
   box-shadow: none !important;
}

.form-control { 
   border: 5px solid $social-dark-grey; 
   background-color: $form-light-grey; 
   border-radius: 0.3px;
}
.form-control-lg { padding: 1.7rem 1rem }

.btn-block { margin-top: 50px; }
.btn-group-lg > .btn, .btn-lg {
   border: 5px solid $social-dark-grey; 
   border-radius: 0.3px;
   padding: 1.5rem 1rem;
   text-transform: uppercase;
}

.btn-group-lg > .btn, .btn-lg:hover { border: 5px solid $social-dark-grey; }