// colours
$frost-white: #fafaff;
$bakerloo-brown: #b46404;
$central-red: #e41c14;
$circle-yellow: #eeb742;
$district-green: #047c34;
$hammersmith-and-city-pink: #f38599;
$jubilee-grey: #a4a4a3;
$metropolitan-purple: #9c045c;
$northern-black: #1c1c1c;
$piccadilly-blue: #24348c;
$victoria-light-blue: #049adb;
$waterloo-and-city-aqua: #e41c14;
$social-dark-grey: #3f4247;
$social-light-grey: #5c6165;
$form-light-grey: #efefef;

// styles
$thick-border: 10px solid $northern-black;